# Ignore build files and dependencies
cmake-build-debug/
build/
_deps/
libs/juce/

# Ignore CMake intermediate files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Ignore IDE files
.idea/
.DS_Store
